

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/JakartaSans/PlusJakartaSans-Regular.ttf');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

html,body {
  font-family: Plus Jakarta Sans !important;
}

body {
  min-height: 100vh;
  background: #191B20 !important;
  padding: 0px 16px;
}