.container {
  background-color: #191B20;
  width: 100%;
  text-overflow: ellipsis;
  word-break: break-all;

  .banner-wrap {
    border-radius: 16px;
    // height: 185px;
    width: 100%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .detail-info {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px 0px;
    
    .title {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
    }

    .date {
      margin-top: 4px;
      color: #848E9C;
      font-size: 12px;
    }

    .desc {
      color: #E5EAEE;
      font-size: 14px;
      line-height: 20px;
    }
  
  }
  .link-info {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 16px 0px;
    .link {
      color: #FF5B00;
      text-decoration: underline;
      font-size: 12px;
    }
  }
}